<% include header %>

    <body>
        <h1>Express</h1>
        <p>Welcome to
            <%= title %>
        </p>
        <p>ejs
            <%= name %>
        </p>
    </body>
<% include footer %>
